<div>
    <div class="main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">{{'home' | translate}}</a></li>
                <li><a href="" ng-click="go('store')">{{'Shop' | translate}}</a></li>
                <li class="active">{{'checkout' | translate}}</li>
            </ul>
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN CONTENT -->
                <div ng-if="!d.order.response.isSuccess" class="col-md-12 col-sm-12">
                    <h1>{{'checkout' | translate}}</h1>
                    <!-- BEGIN CHECKOUT PAGE -->
                    <div class="panel-group checkout-page accordion scrollable" id="checkout-page">

                        <!-- BEGIN CHECKOUT -->
                        <!--<div id="checkout" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="/#checkout-content" class="accordion-toggle">
                                        {{'step' | translate}} 1: {{'options' | translate}}
                                    </a>
                                </h2>
                            </div>
                            <div id="checkout-content" class="panel-collapse collapse in">
                                <div class="panel-body row">
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Novi kupac</h3>
                                        <p>Opcije:</p>
                                        <div class="radio-list">
                                            <label>
                                                <input type="radio" name="account" value="register"> Register Account
                                            </label>
                                            <label>
                                                <input type="radio" name="account" value="guest"> Guest Checkout
                                            </label>
                                        </div>
                                        <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                                        <button class="btn btn-primary" type="submit" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-address-content">Nastavi</button>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3>Returning Customer</h3>
                                        <p>I am a returning customer.</p>
                                        <form role="form" action="#">
                                            <div class="form-group">
                                                <label for="email-login">E-Mail</label>
                                                <input type="text" id="email-login" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label for="password-login">Password</label>
                                                <input type="password" id="password-login" class="form-control">
                                            </div>
                                            <a href="javascript:;">Forgotten Password?</a>
                                            <div class="padding-top-20">
                                                <button class="btn btn-primary" type="submit">Login</button>
                                            </div>
                                            <hr>
                                            <div class="login-socio">
                                                <p class="text-muted">or login using:</p>
                                                <ul class="social-icons">
                                                    <li><a href="javascript:;" data-original-title="facebook" class="facebook" title="facebook"></a></li>
                                                    <li><a href="javascript:;" data-original-title="Twitter" class="twitter" title="Twitter"></a></li>
                                                    <li><a href="javascript:;" data-original-title="Google Plus" class="googleplus" title="Google Plus"></a></li>
                                                    <li><a href="javascript:;" data-original-title="Linkedin" class="linkedin" title="LinkedIn"></a></li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!-- END CHECKOUT -->
                        <!-- BEGIN PAYMENT ADDRESS -->
                        <div id="payment-address" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-address-content" onclick="return false;" class="accordion-toggle">
                                        {{'step' | translate}} 1: {{'billing details' | translate}} 
                                    </a>
                                </h2>
                            </div>
                            <div id="payment-address-content" class="panel-collapse collapse in">
                                <div class="pt-4">
                                    <span class="p-2">
                                        <input ng-model="d.order.user.userType" type="radio" id="natural" name="natural" value="natural" ng-change="changeUserType(d.order.user.userType)">
                                        <label for="natural">{{'natural person' | translate}}</label>
                                    </span>
                                    <span class="p-2">
                                        <input ng-model="d.order.user.userType" type="radio" id="lagal" name="legal" value="legal" ng-change="changeUserType(d.order.user.userType)">
                                        <label for="lagal">{{'legal person' | translate}}</label>
                                    </span>
                                </div>
                                <div class="panel-body row">
                                    <div class="col-md-6 col-sm-6">
                                        <h3>{{'your personal details' | translate}}</h3>
                                        <div class="form-group">
                                            <label for="firstname">{{'first name' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.firstName" type="text" id="firstname" class="form-control" ng-change="setDeliveryAddress(d)">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname">{{'last name' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.lastName" type="text" id="lastname" class="form-control" ng-change="setDeliveryAddress(d)">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">{{'email' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.email" type="text" id="email" class="form-control" ng-change="setDeliveryAddress(d)">
                                        </div>
                                        <div class="form-group">
                                            <label for="telephone">{{'phone' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.phone" type="text" id="telephone" class="form-control" ng-change="setDeliveryAddress(d)">
                                        </div>
                                        <!--<div class="form-group">
                                            <label for="fax">Fax</label>
                                            <input type="text" id="fax" class="form-control">
                                        </div>
                                        <h3>Your Password</h3>
                                        <div class="form-group">
                                            <label for="password">Password <span class="require">*</span></label>
                                            <input type="password" id="password" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="password-confirm">Password Confirm <span class="require">*</span></label>
                                            <input type="text" id="password-confirm" class="form-control">
                                        </div>-->
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3>{{'your address' | translate}}</h3>
                                        <div class="form-group">
                                            <label for="company">{{'company' | translate}}</label>
                                            <input ng-model="d.order.user.company" ng-disabled="d.order.user.userType==='natural'" type="text" id="company" class="form-control" ng-change="setDeliveryAddress(d)">
                                        </div>
                                        <div class="form-group">
                                            <label for="company">{{'pin' | translate}}</label>
                                            <input ng-model="d.order.user.pin" ng-disabled="d.order.user.userType==='natural'" type="text" id="company" class="form-control" >
                                        </div>
                                        <div class="form-group">
                                            <label for="address1">{{'address' | translate}}</label>
                                            <input ng-model="d.order.user.address" type="text" id="address1" class="form-control" ng-change="setDeliveryAddress(d)">
                                        </div>
                                        <!--<div class="form-group">
                                            <label for="address2">Address 2</label>
                                            <input type="text" id="address2" class="form-control">
                                        </div>-->
                                        <div class="form-group">
                                            <label for="city">{{'city' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.city" type="text" id="city" class="form-control" ng-change="setDeliveryAddress(d)">
                                        </div>
                                        <div class="form-group">
                                            <label for="post-code">{{'postal code' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.postalCode" type="text" id="post-code" class="form-control" ng-change="setDeliveryAddress(d)">
                                        </div>
                                        <div class="form-group">
                                            <label for="country">{{'country' | translate}} <span class="require">*</span></label>
                                            <select ng-model="d.order.user.country" class="form-control input-sm" ng-options="x.title for x in d.order.countries" ng-change="setDeliveryAddress(d)"></select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="col-md-12">
                                        <!--<div class="checkbox">
                                            <label>
                                                <input type="checkbox"> I wish to subscribe to the OXY newsletter.
                                            </label>
                                        </div>-->
                                        <div class="checkbox">
                                            <label>
                                                <input ng-model="d.sameAsBillingAddress" type="checkbox" ng-change="setDeliveryAddress(d)"> {{'my delivery and billing address is the same' | translate}}.
                                            </label>
                                        </div>
                                        <button class="btn btn-primary  pull-right" type="submit" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-address-content" id="button-payment-address">{{'continue' | translate}}</button>
                                        <!--<div class="checkbox pull-right">
                                            <label>
                                                <input type="checkbox"> {{'i have read and agree to the' | translate}} <a title="Privacy Policy" href="">{{'privacy policy' | translate}}</a> &nbsp;&nbsp;&nbsp;
                                            </label>
                                        </div>-->
                                    </div>
                                    </div>
                            </div>
                        </div>
                        <!-- END PAYMENT ADDRESS -->
                        <!-- BEGIN SHIPPING ADDRESS -->
                        <div id="shipping-address" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#shipping-address-content" onclick="return false;" class="accordion-toggle">
                                        {{'step' | translate}} 2: {{'delivery details' | translate}}
                                    </a>
                                </h2>
                            </div>
                            <div id="shipping-address-content" class="panel-collapse collapse">
                                <div class="panel-body row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="firstname-dd">{{'first name' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.deliveryAddress.firstName" type="text" id="firstname-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname-dd">{{'last name' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.deliveryAddress.lastName" type="text" id="lastname-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="email-dd">{{'email' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.deliveryAddress.email" type="text" id="email-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="telephone-dd">{{'phone' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.deliveryAddress.phone" type="text" id="telephone-dd" class="form-control">
                                        </div>
                                        <!--<div class="form-group">
                                            <label for="fax-dd">Fax</label>
                                            <input type="text" id="fax-dd" class="form-control">
                                        </div>-->
                                        <div class="form-group">
                                            <label for="company-dd">{{'company' | translate}}</label>
                                            <input ng-model="d.order.user.deliveryAddress.company" ng-disabled="d.order.user.userType==='natural'" type="text" id="company-dd" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <label for="address1-dd">{{'address' | translate}}</label>
                                            <input ng-model="d.order.user.deliveryAddress.address" type="text" id="address1-dd" class="form-control">
                                        </div>
                                        <!--<div class="form-group">
                                            <label for="address2-dd">Address 2</label>
                                            <input type="text" id="address2-dd" class="form-control">
                                        </div>-->
                                        <div class="form-group">
                                            <label for="city-dd">{{'city' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.deliveryAddress.city" type="text" id="city-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="post-code-dd">{{'postal code' | translate}} <span class="require">*</span></label>
                                            <input ng-model="d.order.user.deliveryAddress.postalCode" type="text" id="post-code-dd" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="country-dd">{{'country' | translate}} <span class="require">*</span></label>
                                            <select ng-model="d.order.user.deliveryAddress.country" class="form-control input-sm" ng-options="x.title for x in d.order.countries"></select>
                                            <!--<select class="form-control input-sm" id="country-dd">
                                                <option value=""> --- Please Select --- </option>
                                                <option value="244">Aaland Islands</option>
                                                <option value="1">Afghanistan</option>
                                                <option value="2">Albania</option>
                                            </select>-->
                                        </div>
                                        <!--<div class="form-group">
                                            <label for="region-state-dd">Region/State <span class="require">*</span></label>
                                            <select class="form-control input-sm" id="region-state-dd">
                                                <option value=""> --- Please Select --- </option>
                                                <option value="3513">Aberdeen</option>
                                                <option value="3514">Aberdeenshire</option>
                                                <option value="3515">Anglesey</option>
                                                <option value="3516">Angus</option>
                                            </select>
                                        </div>-->
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-primary  pull-right" type="submit" id="button-shipping-address" data-toggle="collapse" data-parent="#checkout-page" data-target="#shipping-method-content" >{{'continue' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SHIPPING ADDRESS -->
                        <!-- BEGIN SHIPPING METHOD -->
                        <div id="shipping-method" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#shipping-method-content" onclick="return false;" class="accordion-toggle">
                                        {{'step' | translate}} 3: {{'delivery method' | translate}}
                                    </a>
                                </h2>
                            </div>
                            <div id="shipping-method-content" class="panel-collapse collapse">
                                <div class="panel-body row">
                                    <div class="col-md-12">
                                        <p>{{'please select the preferred shipping method to use on this order' | translate}}.</p>
                                        <div class="pt-4">
                                            <span class="p-2" ng-repeat="x in d.order.orderOptions.deliverymethod">
                                                <input ng-model="d.order.deliveryMethod" type="radio" id="{{x.title}}" name="{{x.title}}" ng-value="x">
                                                <label for="{{x.title}}">{{x.title | translate}}</label>
                                            </span>
                                        </div>

                                        <!--<h4>Flat Rate</h4>
                                        <div class="radio-list">
                                            <label>
                                                <input type="radio" name="FlatShippingRate" value="FlatShippingRate"> Flat Shipping Rate
                                            </label>
                                        </div>-->
                                        <div class="form-group">
                                            <label for="delivery-comments">{{'add comments about your order' | translate}}</label>
                                            <textarea ng-model="d.order.note" id="delivery-comments" rows="8" class="form-control"></textarea>
                                        </div>
                                        <button class="btn btn-primary  pull-right" type="submit" id="button-shipping-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#payment-method-content">{{'continue' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END SHIPPING METHOD -->
                        <!-- BEGIN PAYMENT METHOD -->
                        <div id="payment-method" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#payment-method-content" onclick="return false;" class="accordion-toggle">
                                        {{'step' | translate}} 5: {{'payment method' | translate}}
                                    </a>
                                </h2>
                            </div>
                            <div id="payment-method-content" class="panel-collapse collapse">
                                <div class="panel-body row">
                                    <div class="col-md-12">
                                        <p>{{'please select the preferred payment method to use on this order' | translate}}.</p>
                                        <span class="p-2" ng-repeat="x in d.order.orderOptions.paymentmethod">
                                            <input ng-model="d.order.paymentMethod" type="radio" id="{{x.title}}" name="{{x.title}}" ng-value="x">
                                            <label for="{{x.title}}">{{x.title | translate}}</label>
                                        </span>
                                        <!--<div class="radio-list">
                                            <label>
                                                <input type="radio" name="CashOnDelivery" value="CashOnDelivery"> Cash On Delivery
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="delivery-payment-method">Add Comments About Your Order</label>
                                            <textarea id="delivery-payment-method" rows="8" class="form-control"></textarea>
                                        </div>-->
                                        <button class="btn btn-primary  pull-right" type="submit" id="button-payment-method" data-toggle="collapse" data-parent="#checkout-page" data-target="#confirm-content">{{'continue' | translate}}</button>
                                        <div class="checkbox pull-right">
                                            <label>
                                                <input ng-model="d.order.confirmTerms" type="checkbox"> {{'i have read and agree to the' | translate}} <a title="{{'terms and conditions' | translate}}" href="javascript:;">{{'terms and conditions' | translate}} </a> &nbsp;&nbsp;&nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PAYMENT METHOD -->
                        <!-- BEGIN CONFIRM -->
                        <div id="confirm" class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#checkout-page" href="#confirm-content" onclick="return false;" class="accordion-toggle">
                                        {{'step' | translate}} 5: {{'confirm order' | translate}}
                                    </a>
                                </h2>
                            </div>
                            <div id="confirm-content" class="panel-collapse collapse">
                                <div class="panel-body row">
                                    <div class="col-md-12 clearfix">
                                        <div class="table-wrapper-responsive">
                                            <table>
                                                <tr>
                                                    <th class="checkout-image">{{'image' | translate}}</th>
                                                    <th class="checkout-description">{{'description' | translate}}</th>
                                                    <th class="checkout-model">{{'sku' | translate}}</th>
                                                    <th class="checkout-quantity">{{'quantity' | translate}}</th>
                                                    <th class="checkout-price">{{'price' | translate}}</th>
                                                    <th class="checkout-total">{{'total' | translate}}</th>
                                                </tr>
                                                <tr ng-repeat="x in d.order.cart.items track by $index">
                                                    <td class="checkout-image">
                                                        <a href="javascript:;"><img src="../upload/{{x.product.id}}/gallery/{{x.product.gallery[0]}}" alt="{{x.product.title}}"></a>
                                                    </td>
                                                    <td class="checkout-description">
                                                        <h3><a href="" ng-click="get(x.product)">{{x.product.shortdesc}}</a></h3>
                                                        <p><strong>{{x.product.title}}</strong></p>
                                                        <em ng-click="get(x.product)">{{'more info is here' | translate}}</em>
                                                    </td>
                                                    <td class="checkout-model">{{x.product.sku}}</td>
                                                    <td class="checkout-quantity">{{x.product.qty}}</td>
                                                    <td class="checkout-price"><strong>{{x.product.price.net_discount | number}} <span>kn</span></strong></td>
                                                    <td class="checkout-total"><strong>{{x.price_net_tot | number}} <span>kn</span></strong></td>
                                                </tr>
                                                <!--<tr>
                                                    <td class="checkout-image">
                                                        <a href="javascript:;"><img src="assets/pages/img/products/model4.jpg" alt="Berry Lace Dress"></a>
                                                    </td>
                                                    <td class="checkout-description">
                                                        <h3><a href="javascript:;">Cool green dress with red bell</a></h3>
                                                        <p><strong>Item 1</strong> - Color: Green; Size: S</p>
                                                        <em>More info is here</em>
                                                    </td>
                                                    <td class="checkout-model">RES.193</td>
                                                    <td class="checkout-quantity">1</td>
                                                    <td class="checkout-price"><strong><span>$</span>47.00</strong></td>
                                                    <td class="checkout-total"><strong><span>$</span>47.00</strong></td>
                                                </tr>-->
                                            </table>
                                        </div>
                                        <div class="checkout-total-block">
                                            <ul>
                                                <li>
                                                    <em>{{'total' | translate}} ({{'net' | translate}})</em>
                                                    <strong class="price">{{d.order.cart.cartPrice.sub_tot | number}} <span>kn</span></strong>
                                                </li>
                                                <li>
                                                    <em>{{'delivery price' | translate}}</em>
                                                    <strong class="price">{{d.order.cart.cartPrice.shipping | number}} <span>kn</span></strong>
                                                </li>
                                                <!--<li>
                                                    <em>Eco Tax (-2.00)</em>
                                                    <strong class="price"><span>$</span>3.00</strong>
                                                </li>-->
                                                <li>
                                                    <em>{{'pin' | translate}} (25%)</em>
                                                    <strong class="price">{{d.order.cart.cartPrice.tot_vat | number}} <span>kn</span></strong>
                                                </li>
                                                <li class="checkout-total-price">
                                                    <em>{{'total' | translate}}</em>
                                                    <strong class="price">{{d.order.cart.cartPrice.tot | number}} <span>kn</span></strong>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                        <button class="btn btn-primary pull-right" type="submit" id="button-confirm" ng-click="confirm(d.order)">{{'confirm order' | translate}}</button>
                                        <button type="button" class="btn btn-default pull-right margin-right-20"  ng-click="go('cart')">{{'cancel' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END CONFIRM -->
                    </div>
                    <!-- END CHECKOUT PAGE -->
                </div>
                <!-- END CONTENT -->

                <div ng-if="d.order.response.isSuccess" class="col-md-12 col-sm-12">
                    {{d.order.response.msg}}
                    <pre>{{d.order.paymentDetails | json}}</pre>
                </div>

            </div>
            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>
    <json-directive data="d" desc="'d'" debug="true"></json-directive>
</div>

<script id="paymentaddress" type="text/ng-template">
    
</script>

<script id="shippingaddress" type="text/ng-template">

</script>
