<div>
    <!-- BEGIN SLIDER -->
    <div class="page-slider margin-bottom-35">
        <div id="carousel-example-generic" class="carousel slide carousel-slider">
            <div ng-controller="CarouselDemoCtrl">
                <div style="height:30%">
                    <carousel interval="myInterval">
                        <slide ng-repeat="x in d.banners" active="slide.active">
                            <div style="margin:auto;">
                                <div>
                                    <img src="../upload/banners/{{x.img}}" style="float:left">
                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>
    <!-- END SLIDER -->

    <loading-directive loadingtitle="'loading'" value="d.loading" size="5"></loading-directive>


    <div class="container-fluid text-center pt-3" onclick="closeNav()">

        <div class="container p-3">
            <p>Godine iskustva poučile su nas da se kvaliteta uvijek isplati. Kamin Studio s ponosom promovira ekološki prihvatljiva rješenja. Na našim stranicama pronaći ćete široki izbor kamina i peći na drva, električnih kamina, kamina na bioetanol, norveških radijatora te plinskih kamina kao i našu stručnu pomoć pri svakom koraku.</p>
        </div>
        <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
        <div ng-if="d.bestbuy.length>0" class="bg-light pt-5">
            <div class="container">
                <div class="row margin-bottom-40">
                    <!-- BEGIN SALE PRODUCT -->
                    <div class="col-md-12 sale-product">
                        <h2>{{'best buy' | translate}}</h2>
                        <specialproducts-directive data="d.bestbuy"></specialproducts-directive>
                    </div>
                    <!-- END SALE PRODUCT -->
                </div>
            </div>
        </div>
        <!-- END SALE PRODUCT & NEW ARRIVALS -->

        <!-- BEGIN Op -->
        <div ng-if="d.bestbuy.length>0" class="bg-light pt-5">
            <div class="container">
                <div class="row margin-bottom-40">
                    <!-- BEGIN SALE PRODUCT -->
                    <div class="col-md-12 sale-product">
                        <h2>{{'opportunity' | translate}}</h2>
                        <specialproducts-directive data="d.opportunity"></specialproducts-directive>
                    </div>
                    <!-- END SALE PRODUCT -->
                </div>
            </div>
        </div>
        <!-- END SALE PRODUCT & NEW ARRIVALS -->

        <div ng-if="d.specialProductGroup.length>0" class="pt-5">
            <div class="container">
                <div class="row margin-bottom-40">
                    <!-- BEGIN SPECIAL PRODUCT GROUP -->
                    <div class="col-md-12 sale-product">
                        <h2>{{'best selling' | translate}}</h2>
                        <specialproducts-directive data="d.specialProductGroup"></specialproducts-directive>

                        <!--<div id="myCarousel" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div class="col-sm-3" ng-repeat="x in d.specialProductGroup | limitTo:4">
                                            <a href="../upload/{{x.id}}/gallery/{{x.img}}"><img src="../upload/{{x.id}}/gallery/{{x.img}}" style="height:200px" alt="Image" class="img-responsive"></a>
                                            <h3><a href="" ng-click="get(x)">{{x.title}}</a></h3>
                                            <div class="pi-price">{{x.price.grossWithDiscount | number}} kn</div>
                                            <a href="" class="btn btn-default add2cart" ng-click="addToCart(x)">{{'add to cart' | translate}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
                        </div>-->


                    </div>
                    <!-- END SPECIAL PRODUCT GROUP -->
                </div>
            </div>
        </div>

        <div class="product-area pb-190 p-5">
            <div class="container text-center">
                <div class="question-area">
                    <h4>{{'you have questions' | translate}}? </h4>
                    <!--<p>{{'call us on' | translate}} {{d.info.phone}} ili pošaljite poruku i dogovorite besplatno savjetovanje našeg stručnjaka u Vašem domu!</p>-->
                    <p>{{'call us on' | translate}} {{d.info.phone}} {{'or send a message and arrange a free consultation with our expert in your home' | translate}}!</p>
                    <div class="question-contact">
                        <div class="question-icon">
                            <i class="icofont icofont-phone"></i>
                        </div>
                        <div class="question-content-number">
                            <h6> {{d.info.phone}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!--Test
        <div ng-controller="CarouselDemoCtrl">
            <div style="height: auto">
                <carousel interval="myInterval">
                    <slide ng-repeat="x in d.specialProductGroup" >
                        <div style="margin:auto;" class="row">
                            <div class="col-3">
                                <img src="../upload/{{d.specialProductGroup[getSecondIndex($index)].id}}/gallery/{{d.specialProductGroup[getSecondIndex($index)].img}}" width="100px" style="float:left; padding:10px">
                                <p>{{x.title}}</p>
                            </div>
                            <div class="col-3">
                                <img src="../upload/{{d.specialProductGroup[getSecondIndex($index+1)].id}}/gallery/{{d.specialProductGroup[getSecondIndex($index+1)].img}}" width="100px" style="float:left; padding:10px">
                                <p>{{x.title}}</p>
                            </div>
                            <div class="col-3">
                                <img src="../upload/{{d.specialProductGroup[getSecondIndex($index+2)].id}}/gallery/{{d.specialProductGroup[getSecondIndex($index+2)].img}}" width="100px" style="float:left; padding:10px">
                                <p>{{x.title}}</p>
                            </div>
                            <div class="col-3">
                                <img src="../upload/{{d.specialProductGroup[getSecondIndex($index+3)].id}}/gallery/{{d.specialProductGroup[getSecondIndex($index+3)].img}}" width="100px" style="float:left; padding:10px">
                                <p>{{x.title}}</p>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>-->

        <script>
            $('.carousel .item').each(function () {
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                if (next.next().length > 0) {
                    next.next().children(':first-child').clone().appendTo($(this));
                }
                else {
                    $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
                }
            });
        </script>

    </div>
    <json-directive data="d" desc="'(d)'" debug="true"></json-directive>
</div>
