<div>
    <div class="main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Naslovna</a></li>
                <li><a href="" ng-click="go('shop')">Shop</a></li>
                <li><a href="" ng-click="goCategory(d.record.productGroup.code, d.record.productGroup.title_seo, '')">{{d.record.productGroup.title}}</a></li>
                <li class="active">{{d.record.title}}</li>
            </ul>
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN SIDEBAR -->
                <div class="sidebar col-md-3 col-sm-5">

                    <pg-directive pg="d.productGroups" record="d.record"></pg-directive>

                    <!--<ul class="list-group margin-bottom-25 sidebar-menu">
                        <li class="list-group-item clearfix dropdown {{x.code===d.record.productGroup.parent?'active':''}}" ng-repeat="x in d.productGroups track by $index">
                            <a href="" ng-click="shop(x.code, x.title_seo, null)"><i class="fa fa-angle-right"></i> {{x.title}}</a>
                            <ul class="dropdown-menu" ng-repeat="y in x.subGroups track by $index">
                                <li class="list-group-item dropdown clearfix {{y.code===d.record.productGroup.code?'active':''}}">
                                    <a href="">{{y.title}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>-->

                    <div ng-if="d.bestselling.length>0" class="sidebar-products clearfix">
                        <h2>Najprodavanije</h2>
                        <div class="item" ng-repeat="x in d.bestselling">
                            <a href=""><img src="../upload/{{x.id}}/gallery/{{x.img}}" alt="{{x.title}}"></a>
                            <h3><a href="" ng-click="get(x)">{{x.title}}</a></h3>
                            <div class="price">{{x.price.grossWithDiscount | number}} kn</div>
                        </div>
                    </div>
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="col-md-9 col-sm-7">
                    <div class="product-page">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="product-main-image">
                                    <img src="../upload/{{d.record.id}}/gallery/{{d.record.gallery[mainImgIdx]}}" alt="{{x}}" class="img-responsive" data-BigImgsrc="../upload/{{d.record.id}}/gallery/{{d.record.gallery[mainImgIdx]}}">
                                    <div ng-if="d.record.outlet" class="product-image-label type-1">
                                        <span>-{{d.record.discount.perc}}%</span>
                                    </div>
                                    <div ng-if="d.record.isnew" class="product-image-label type-2">
                                        <span>{{'new' | translate}}</span>
                                    </div>
                                    <div ng-if="d.record.freeshipping" class="product-image-label type-4">
                                        <span class="fa fa-truck fa-2x"></span>
                                    </div>
                                    <div ng-if="d.record.bestbuy" class="product-image-label type-5">
                                        <span class="fa fa-smile-o fa-2x"></span>
                                    </div>
                                    <div ng-if="d.record.wifi" class="product-image-label type-6">
                                        <span class="fa fa-wifi fa-2x"></span>
                                    </div>
                                    <div ng-if="d.record.energyClass" class="product-image-label type-7">
                                        <span>{{d.record.energyClass}}</span>
                                    </div>
                                    <!--<div class="product-image-label {{sticker(d.record).style}}">
                                        <span>{{sticker(d.record).title}}</span>
                                    </div>-->
                                </div>
                                <div class="product-other-images">
                                    <a href="" ng-repeat="x in d.record.gallery" ng-click="selectImg($index)" class="fancybox-button" rel="photos-lib"><img alt="Berry Lace Dress" src="../upload/{{d.record.id}}/gallery/{{x}}"></a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <h2>{{d.record.title}}</h2>
                                <h2>{{'sku' | translate}}: {{d.record.sku}}</h2>
                                <div class="price-availability-block clearfix">
                                    <div class="price">
                                        <strong>{{d.record.price.grossWithDiscount | number}} <span>kn</span></strong>
                                        <span ng-if="d.record.discount.coeff>0">
                                            <em><span>{{d.record.price.gross | number}}</span> kn</em>
                                        </span>
                                    </div>
                                    <!--<div class="price">
                                        <strong>MPC: {{d.record.price.grossWithDiscount | number}} <span>kn</span></strong>
                                        <span ng-if="d.record.discount>0">
                                            <em>kn<span>{{d.record.price.gross | number}}</span> kn</em>
                                        </span>
                                    </div>-->
                                    <div ng-if="d.record.deliverydays&&d.record.stock>d.record.qty-1" class="availability">
                                        <!--Availability: <strong>In Stock</strong>-->
                                        {{'delivery date' | translate}}: <strong>{{d.record.deliverydays}} <span ng-if="d.record.deliverydays==1">{{'day' | translate}}</span><span ng-if="d.record.deliverydays!=1">{{'days' | translate}}</span></strong>
                                    </div>
                                </div>
                                <div class="description">
                                    <p>
                                        {{d.record.shortdesc}}
                                    </p>
                                </div>
                                <div class="product-page-options">
                                    <div class="pull-left">
                                        <label class="control-label">Size:</label>
                                        <select class="form-control input-sm">
                                            <option>L</option>
                                            <option>M</option>
                                            <option>XL</option>
                                        </select>
                                    </div>
                                    <div ng-if="d.record.color" class="pull-left">
                                        <label class="control-label">Color:</label>
                                        <label ng-if="!d.showColorVar">{{d.record.color}}</label>
                                        <select ng-if="d.showColorVar" ng-model="color" ng-options="x.color for x in d.record.styleProducts"  class="form-control input-sm" ng-change="get(color)"></select>
                                        <!--<select ng-model="color" class="form-control input-sm" ng-change="get(color)">
                                            <option value="{{x}}" ng-repeat="x in d.record.styleProducts">{{x.color}}</option>
                                        </select>-->
                                        <!--<select class="form-control input-sm">
                                            <option>Red</option>
                                            <option>Blue</option>
                                            <option>Black</option>
                                        </select>-->
                                    </div>
                                </div>
                                <div class="product-page-cart">
                                    <div class="product-quantity">
                                        <input ng-model="d.record.qty" type="number" value="1" class="form-control input-sm" style="width:70px">
                                        <!--<input id="product-quantity" type="text" value="1" readonly class="form-control input-sm">-->
                                    </div>
                                    <button class="btn btn-primary" type="submit" ng-click="addToCart(d.record)">Dodaj u košaricu</button>
                                </div>
                                <!--<div class="review">
                                    <input type="range" value="4" step="0.25" id="backing4">
                                    <div class="rateit" data-rateit-backingfld="#backing4" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                                    </div>
                                    <a href="javascript:;">7 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="javascript:;">Write a review</a>
                                </div>-->
                                <div class="product-page-cart form-inline">
                                    <!--<span starating></span>-->
                                    <!--<span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>-->
                                    <i class="fa fa-star text-success" ng-repeat="s in d.stars | limitTo: d.record.reviews.rating"></i>
                                    <i ng-if="d.record.reviews.rating % 1 != 0" class="fa fa-star-half-o text-success"></i>
                                    <a href="#reviews" class="pl-3" onclick="return false;" data-toggle="tab" ng-click="setActiveTab('reviews')">{{d.record.reviews.count}} {{reviewsTrans(d.record.reviews.count) | translate}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#reviews" onclick="return false;" ng-click="setActiveTab('reviews')" data-toggle="tab">{{'write a review' | translate}}</a>
                                    <!--<a href="javascript:;" class="pl-3">7 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#/review">Write a review</a>-->
                                </div>
                                <ul class="social-icons">
                                    <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a></li>
                                    <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                                    <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a></li>
                                    <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
                                </ul>
                            </div>
                            <div class="product-page-content">
                                <ul id="tab" class="nav nav-tabs">
                                    <li class="{{d.activeTab==='description'?'active':''}}"><a href="#description" onclick="return false;" data-toggle="tab">{{'description' | translate}}</a></li>
                                    <li class="{{d.activeTab==='information'?'active':''}}"><a href="#information" onclick="return false;" data-toggle="tab">{{'specification' | translate}}</a></li>
                                    <li class="{{d.activeTab==='reviews'?'active':''}}"><a href="#reviews" onclick="return false;" data-toggle="tab">{{'reviews' | translate}} ({{d.record.reviews.count}})</a></li>
                                    <!--<li class="{{d.tpl==='descTpl'?'active':''}}"><a href="" data-toggle="tab" ng-click="toggleTpl('descTpl')">{{'description' | translate}}</a></li>
                                    <li class="{{d.tpl==='infoTpl'?'active':''}}"><a href="" data-toggle="tab" ng-click="toggleTpl('infoTpl')">{{'specification' | translate}}</a></li>
                                    <li class="{{d.tpl==='reviewTpl'?'active':''}}"><a href="" data-toggle="tab" ng-click="toggleTpl('reviewTpl')">{{'reviews' | translate}} ({{d.record.reviews.count}})</a></li>-->
                                </ul>
                                <div id="tabContent" class="tab-content">
                                    <!--<ng-include src="d.tpl"></ng-include>-->
                                    <div id="description" class="tab-pane fade in active">
                                        <p>{{d.record.longdesc}}</p>
                                    </div>
                                    <div id="information" class="tab-pane fade">
                                        <table class="datasheet">
                                            <tr>
                                                <th colspan="2">Dodatne značajke</th>
                                            </tr>
                                            <tr ng-if="x.val" ng-repeat="x in d.record.features track by $index">
                                                <td class="datasheet-features-type">{{x.title}}</td>
                                                <td>{{x.val}} {{x.unit}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="reviews" class="tab-pane fade">
                                        <!--<p>There are no reviews for this product.</p>-->
                                        <div class="review-item clearfix" ng-repeat="x in d.record.reviews.data">
                                            <div class="review-item-submitted">
                                                <strong>{{x.name}}</strong>
                                                <em><!--27/5/2020 - 17:49-->{{x.reviewdate}}</em>
                                                <i class="fa fa-star text-success" ng-repeat="s in d.stars | limitTo: x.rating"></i>
                                                <!--<div class="rateit" data-rateit-value="x.rating" data-rateit-ispreset="true" data-rateit-readonly="true"></div>-->
                                            </div>
                                            <div class="review-item-content">
                                                <p>{{x.desc}}</p>
                                            </div>
                                        </div>
                                        <!--<div class="review-item clearfix">
        <div class="review-item-submitted">
            <strong>Mary</strong>
            <em>13/12/2013 - 17:49</em>
            <div class="rateit" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
        </div>
        <div class="review-item-content">
            <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
        </div>
    </div>-->
                                        <!-- BEGIN FORM-->
                                        <form id="review" class="reviews-form" role="form">
                                            <h2>{{'write a review' | translate}}</h2>
                                            <div class="form-group">
                                                <label for="name">{{'name' | translate}} <span class="require">*</span></label>
                                                <input ng-model="d.review.name" type="text" class="form-control" id="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">{{'email' | translate}}</label>
                                                <input ng-model="d.review.email" type="text" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="review" class="text-capitalize">{{'review' | translate}} <span class="require">*</span></label>
                                                <textarea ng-model="d.review.desc" class="form-control" rows="8" id="review"></textarea>
                                            </div>
                                            <div class="form-group form-inline">
                                                <label class="pr-3">{{'rating' | translate}} <span class="require">*</span></label>
                                                <span starating></span>
                                                <!--<input type="range" value="4" step="0.25" id="backing5">
            <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
            </div>-->
                                            </div>
                                            <div class="padding-top-20">
                                                <button type="submit" class="btn btn-primary" ng-click="saveRating(d.review)">{{'send' | translate}}</button>
                                            </div>
                                        </form>
                                        <!-- END FORM-->
                                    </div>
                                </div>
                            </div>
                            <!--<div class="sticker sticker-sale"></div>-->
                        </div>
                    </div>
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
            <!-- BEGIN SIMILAR PRODUCTS -->
            <div ng-if="d.record.relatedProducts" class="row margin-bottom-40">
                <div class="col-md-12 col-sm-12">
                    <h2>{{'accessories' | translate}}</h2>
                    <specialproducts-directive data="d.record.relatedProducts"></specialproducts-directive>
                    <!--<h2>Najpopularniji proizvodi</h2>
                    <bestselling-directive data="d.bestsellingall"></bestselling-directive>-->

                    <!--<div class="owl-carousel owl-carousel4 owl-theme owl-loaded">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="assets/pages/img/products/k1.jpg" class="img-responsive" alt="Berry Lace Dress">
                                        <div>
                                            <a href="assets/pages/img/products/k1.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                                    <div class="pi-price">$29.00</div>
                                    <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                                    <div class="sticker sticker-new"></div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="assets/pages/img/products/k2.jpg" class="img-responsive" alt="Berry Lace Dress">
                                        <div>
                                            <a href="assets/pages/img/products/k2.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="shop-item.html">Berry Lace Dress2</a></h3>
                                    <div class="pi-price">$29.00</div>
                                    <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="assets/pages/img/products/k3.jpg" class="img-responsive" alt="Berry Lace Dress">
                                        <div>
                                            <a href="assets/pages/img/products/k3.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="shop-item.html">Berry Lace Dress3</a></h3>
                                    <div class="pi-price">$29.00</div>
                                    <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="assets/pages/img/products/k4.jpg" class="img-responsive" alt="Berry Lace Dress">
                                        <div>
                                            <a href="assets/pages/img/products/k4.jpg" class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="shop-item.html">Berry Lace Dress4</a></h3>
                                    <div class="pi-price">$29.00</div>
                                    <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                                    <div class="sticker sticker-sale"></div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <!-- END SIMILAR PRODUCTS -->
        </div>
    </div>
    <json-directive data="d" desc="'product (d)'" debug="true"></json-directive>
</div>

<script id="descTpl" type="text/ng-template">
    <p>{{d.record.longdesc}}</p>
</script>
<script id="infoTpl" type="text/ng-template">
    <table class="datasheet">
        <tr>
            <th colspan="2">Dodatne značajke</th>
        </tr>
        <tr ng-if="x.val" ng-repeat="x in d.record.features track by $index">
            <td class="datasheet-features-type">{{x.title}}</td>
            <td>{{x.val}} {{x.unit}}</td>
        </tr>
    </table>
</script>
<script id="reviewTpl" type="text/ng-template">
    <!--<p>There are no reviews for this product.</p>-->
    <div class="review-item clearfix" ng-repeat="x in d.record.reviews.data">
        <div class="review-item-submitted">
            <strong>{{x.name}}</strong>
            <em><!--27/5/2020 - 17:49-->{{x.reviewdate}}</em>
            <i class="fa fa-star text-success" ng-repeat="s in d.stars | limitTo: x.rating"></i>
            <!--<div class="rateit" data-rateit-value="x.rating" data-rateit-ispreset="true" data-rateit-readonly="true"></div>-->
        </div>
        <div class="review-item-content">
            <p>{{x.desc}}</p>
        </div>
    </div>
    <!--<div class="review-item clearfix">
        <div class="review-item-submitted">
            <strong>Mary</strong>
            <em>13/12/2013 - 17:49</em>
            <div class="rateit" data-rateit-value="2.5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
        </div>
        <div class="review-item-content">
            <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
        </div>
    </div>-->
    <!-- BEGIN FORM-->
    <form id="review" class="reviews-form" role="form">
        <h2>{{'write a review' | translate}}</h2>
        <div class="form-group">
            <label for="name">{{'name' | translate}} <span class="require">*</span></label>
            <input ng-model="d.review.name" type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">{{'email' | translate}}</label>
            <input ng-model="d.review.email" type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="review" class="text-capitalize">{{'review' | translate}} <span class="require">*</span></label>
            <textarea ng-model="d.review.desc" class="form-control" rows="8" id="review"></textarea>
        </div>
        <div class="form-group form-inline">
            <label class="pr-3">{{'rating' | translate}} <span class="require">*</span></label>
            <span starating></span>
            <!--<input type="range" value="4" step="0.25" id="backing5">
            <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false" data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
            </div>-->
        </div>
        <div class="padding-top-20">
            <button type="submit" class="btn btn-primary" ng-click="saveRating(d.review)">{{'send' | translate}}</button>
        </div>
    </form>
    <!-- END FORM-->
</script>
