<div>
    <div class="main">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="" ng-click="go('shop')">Store</a></li>
                <li ng-if="d.productgroup"><a href="" ng-click="goCategory(d.pg_code, d.productgroup, '')">{{d.productgroup}}</a></li>
                <li ng-if="d.subgroup" ng-click="goCategory(d.pg_code, d.productgroup, subgroup)">{{d.subgroup}}</li>
            </ul>
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN SIDEBAR -->
                <div class="sidebar col-md-3 col-sm-5">
                    <a href="" class="ml-2 visible-xs" ng-click="showFilters()"><i class="fa fa-filter"></i> {{'filters' | translate}}</a>
                    <div class="{{d.isShowFilters?'':'hidden-xs'}}">
                        <div class="sidebar-filter margin-bottom-25">
                            <h2>{{'category' | translate}}</h2>
                            <div class="pt-2">
                                <pg-directive pg="d.productGroups" record="null"></pg-directive>
                            </div>
                            <!--<h3>Availability</h3>
                            <div class="checkbox-list">
                                <label><input type="checkbox"> Not Available (3)</label>
                                <label><input type="checkbox"> In Stock (26)</label>
                            </div>-->
                            <h3>{{'filters' | translate}}</h3>
                            <div class="checkbox-list" ng-cloak>
                                <label><input ng-model="d.filters.isnew.val" type="checkbox" ng-click="filter(d.filters, slider)"> {{d.filters.isnew.title | translate}} ({{d.filters.isnew.tot}})</label>
                                <label><input ng-model="d.filters.outlet.val" type="checkbox" ng-click="filter(d.filters, slider)"> {{d.filters.outlet.title | translate}} ({{d.filters.outlet.tot}})</label>
                                <label><input ng-model="d.filters.bestselling.val" type="checkbox" ng-click="filter(d.filters, slider)"> {{d.filters.bestselling.title | translate}} ({{d.filters.bestselling.tot}})</label>
                                <!--<label><input ng-model="d.filters.freeshipping.val" type="checkbox" ng-click="filter(d.filters, slider)"> {{d.filters.freeshipping.title | translate}} ({{d.filters.freeshipping.tot}})</label>-->
                                <label><input ng-model="d.filters.bestbuy.val" type="checkbox" ng-click="filter(d.filters, slider)"> {{d.filters.bestbuy.title | translate}} ({{d.filters.bestbuy.tot}})</label>
                                <label><input ng-model="d.filters.wifi.val" type="checkbox" ng-click="filter(d.filters, slider)"> {{d.filters.wifi.title | translate}} ({{d.filters.wifi.tot}})</label>
                            </div>
                            <h3>{{'price' | translate}}</h3>
                            <rzslider rz-slider-model="slider.minValue"
                                      rz-slider-high="slider.maxValue"
                                      rz-slider-options="slider.options"></rzslider>
                            <div class="pt-3 text-center">
                                <label>{{slider.minValue}} kn - {{slider.maxValue}} kn</label>
                                <button type="button" class="btn btn-primary btn-main ml-2" ng-click="filter(d.filters, slider)">{{'filter' | translate}}</button>
                            </div>
                            <div id="slider-range"></div>
                            <h3>
                                {{'color' | translate}} 
                            </h3>
                            <div>
                                <button style="background-color:{{x.hex}};" class="color-filter {{x.code===d.filters.color.val.code?'active':''}}" ng-repeat="x in d.filters.color.data track by $index" title="{{x.title | translate}}" ng-click="filterColor(d.filters, slider, x)"></button>
                                <a ng-if="d.showAllColorBtn" href="" title="{{'all colors' | translate}}" ng-click="clearfilterColor(d.filters, slider, d.filters.color.val)">{{'all colors' | translate}}</a>
                            </div>
                            <!--<select ng-model="d.filters.color.val" ng-change="filter(d.filters, slider)">
                                <option value="{{x.code}}" ng-repeat="x in d.filters.color.data track by $index">{{x.title}} - {{x.code}}</option>
                            </select>-->
                        </div>
                        <div ng-if="d.bestselling.length>0" class="sidebar-products clearfix hidden-xs">
                            <h2>{{'best selling' | translate}}</h2>
                            <div class="item" ng-repeat="x in d.bestselling track by $index">
                                <a href=""><img src="../upload/{{x.id}}/gallery/{{x.img}}" alt="{{x.title}}"></a>
                                <h3><a href="" ng-click="get(x)">{{x.title}}</a></h3>
                                <div class="price">{{x.price.grossWithDiscount}} kn</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="col-md-9 col-sm-7">
                    <div ng-if="d.parentProductGroup" class="pb-5">
                        <p>{{d.parentProductGroup.desc}}</p>
                    </div>
                    <div class="content-search margin-bottom-20">
                        <div class="row">
                            <div class="col-md-6">
                                <h1 ng-if="d.search">{{'search results for' | translate}} <em>{{d.search}}</em></h1>
                            </div>
                            <!--<div class="col-md-6">
                                <form id="search_form">
                                    <div class="input-group">
                                        <input ng-model="d.search" type="text" placeholder="Pretraži..." class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" form="search_form" ng-click="search(d.search)">Pretraži</button>
                                        </span>
                                    </div>
                                </form>
                            </div>-->
                        </div>
                    </div>
                    <div class="row list-view-sorting clearfix">
                        <div class="col-md-2 col-sm-2 list-view">
                            <a href="javascript:;"><i class="fa fa-th-large"></i></a>
                            <a href="javascript:;"><i class="fa fa-th-list"></i></a>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="pull-right">
                                <label class="control-label">{{'show' | translate}}:</label>
                                <select ng-model="d.filters.show.val" class="form-control input-sm" ng-change="sortBy(d.filters, slider)">
                                    <option value="{{x}}" ng-repeat="x in d.filters.show.values" >{{x}}</option>
                                </select>
                            </div>
                            <div class="pull-right">
                                <label class="control-label">{{'sort by' | translate}}:</label>
                                <select ng-model="d.filters.sortBy.val" class="form-control input-sm" ng-change="filter(d.filters, slider)">
                                    <option value="{{x.code}}" ng-repeat="x in d.filters.sortBy.sortTypes">{{x.title | translate}}</option>
                                    <!--<option value="{{x.code}}" ng-selected="x.code===d.filters.sortBy.val?true:false" ng-repeat="x in d.filters.sortBy.sortTypes">{{x.title | translate}}</option>-->
                                </select>
                            </div>
                        </div>
                    </div>

                    <loading-directive val="d.loading" size="5" loadingtitle="'loading'"></loading-directive>
                    <div ng-if="!d.loading">
                        <!-- BEGIN PRODUCT LIST -->
                        <div class="row product-list">
                            <!-- PRODUCT ITEM START -->
                            <div ng-if="$index>=(d.filters.show.val*d.filters.page)-d.filters.show.val&&$index<d.filters.show.val*d.filters.page" class="col-md-4 col-sm-6 col-xs-6" ng-repeat="x in d.records track by $index">
                                <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="../upload/{{x.id}}/gallery/{{x.img}}" class="img-responsive" alt="{{x.title}}">
                                        <div>
                                            <a href="../upload/{{x.id}}/gallery/{{x.img}}" class="btn btn-default fancybox-button">Zoom</a>
                                            <!--<a href="" class="btn btn-default fancybox-fast-view">View</a>-->
                                            <a href="" class="btn btn-default" ng-click="get(x)">View</a>
                                        </div>
                                    </div>
                                    <div ng-if="x.outlet" class="product-image-label type-1">
                                        <span>-{{x.discount.perc}}%</span>
                                    </div>
                                    <div ng-if="x.isnew" class="product-image-label type-2">
                                        <span>{{'new' | translate}}</span>
                                    </div>
                                    <div ng-if="x.freeshipping" class="product-image-label type-4">
                                        <span class="fa fa-truck fa-2x"></span>
                                    </div>
                                    <div ng-if="x.bestbuy" class="product-image-label type-5">
                                        <span class="fa fa-smile-o fa-2x"></span>
                                    </div>
                                    <div ng-if="x.wifi" class="product-image-label type-6">
                                        <span class="fa fa-wifi fa-2x"></span>
                                    </div>
                                    <!--<div class="product-image-label {{sticker(x).style}}">
                                        <span>{{sticker(x).title}}</span>
                                    </div>-->
                                    <h3><a href="" ng-click="get(x)">{{x.title}}</a></h3>
                                    <div class="pi-price">{{x.price.grossWithDiscount}} kn</div>
                                    <a href="" class="btn btn-default add2cart" ng-click="addToCart(x)">Dodaj u košaricu</a>
                                </div>
                            </div>
                        </div>
                        <!-- END PRODUCT LIST -->
                        <!-- BEGIN PAGINATOR -->
                        <div class="row">
                            <div class="col-md-4 col-sm-4 items-info">Items {{1 + (d.filters.page-1)*d.filters.show.val}} to {{toPage()}} of {{d.totRecords}} total</div>

                            <!--<div class="col-md-4 col-sm-4 items-info">Items {{1 + (d.filters.page-1)*d.filters.show.val}} to <span ng-if="d.records.length>d.filters.show.val">{{d.filters.show.val*d.filters.page}}</span><span ng-if="d.records.length<=d.filters.show.val">{{d.records.length}}</span> of {{d.totRecords}} total</div>-->
                            <!--<div class="col-md-4 col-sm-4 items-info">Items {{1 + (d.filters.page-1)*d.filters.show.val}} to {{d.totRecords>d.filters.show.val?d.filters.show.val:d.totRecords}} of {{d.totRecords}} total</div>-->
                            <div class="col-md-8 col-sm-8">
                                <ul class="pagination pull-right">
                                    <li><a href="" ng-click="setCurrPage(d.filters.page-1)">&laquo;</a></li>
                                    <li ng-repeat="x in d.pages" ng-click="setCurrPage(x)"><span ng-if="x===d.filters.page">{{x}}</span><a ng-if="x!==d.filters.page" href="">{{x}}</a></li>
                                    <li><a href="" ng-click="setCurrPage(d.filters.page+1)">&raquo;</a></li>
                                </ul>
                                <!--<ul class="pagination pull-right">
                                    <li><a href="" ng-click="setCurrPage(d.filters.page-1)">&laquo;</a></li>
                                    <li ng-repeat="x in d.pages" ng-click="setCurrPage(x)"><span ng-if="x===d.filters.page">{{x}}</span><a ng-if="x!==d.filters.page" href="">{{x}}</a></li>
                                    <li><a href="" ng-click="setCurrPage(d.filters.page+1)">&raquo;</a></li>
                                </ul>-->
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-md-4 col-sm-4 items-info">Items 1 to {{d.totRecords>d.filters.show.val?d.filters.show.val:d.totRecords}} of {{d.totRecords}} total</div>
                            <div class="col-md-8 col-sm-8">
                                <ul class="pagination pull-right">
                                    <li><a href="javascript:;">&laquo;</a></li>
                                    <li><a href="javascript:;">1</a></li>
                                    <li><span>2</span></li>
                                    <li><a href="javascript:;">3</a></li>
                                    <li><a href="javascript:;">4</a></li>
                                    <li><a href="javascript:;">5</a></li>
                                    <li><a href="javascript:;">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>-->
                        <!-- END PAGINATOR -->
                    </div>


                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>
    <json-directive data="d" desc="'shop (d)'" debug="true"></json-directive>
</div>
