<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="" ng-click="go('home')">{{'home' | translate}}</a></li>
            <li class="active">{{'user support' | translate}}</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-3">
                <!--<ul class="list-group margin-bottom-25 sidebar-menu">
                  <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Login/Register</a></li>
                  <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Restore Password</a></li>
                  <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> My account</a></li>
                  <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Address book</a></li>
                  <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Wish list</a></li>
                  <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Returns</a></li>
                  <li class="list-group-item clearfix"><a href="javascript:;"><i class="fa fa-angle-right"></i> Newsletter</a></li>
                </ul>-->

                <h2>Korisnička podrška</h2>
                <address>
                    35, Lorem Lis Street, Park Ave<br>
                    California, US<br>
                    <abbr title="Phone">P:</abbr> 300 323 3456<br>
                </address>
                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:info@metronic.com">info@metronic.com</a><br>
                    <a href="mailto:support@metronic.com">support@metronic.com</a>
                </address>
                <ul class="social-icons margin-bottom-10">
                    <li><a href="javascript:;" data-original-title="facebook" class="facebook"></a></li>
                    <li><a href="javascript:;" data-original-title="github" class="github"></a></li>
                    <li><a href="javascript:;" data-original-title="Goole Plus" class="googleplus"></a></li>
                    <li><a href="javascript:;" data-original-title="linkedin" class="linkedin"></a></li>
                    <li><a href="javascript:;" data-original-title="rss" class="rss"></a></li>
                </ul>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-9">
                <h1>Korisnička podrška</h1>
                <div class="content-page">

                    <p>
                        Kupnja novog kamina ili peći za vaš dom ne sastoji se od jednog jedinog koraka već se radi o procesu prilikom kojeg je potrebno razmotriti razne aspekte kao što su stil, dizajn i budžet koji imate na raspolaganju, a pritom vam je na raspolaganju naša stručna korisnička podrška...
                    </p>

                </div>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>

