<div class="owl-carousel owl-carousel5 owl-theme owl-loaded">
    <div class="row">
        <div class="col-sm-3" ng-repeat="x in data">
            <div>
                <div class="product-item">
                    <div class="pi-img-wrapper">
                        <img src="../upload/{{x.id}}/gallery/{{x.img}}" class="img-responsive" alt="{{x.title}}">
                        <div>
                            <a href="../upload/{{x.id}}/gallery/{{x.img}}" class="btn btn-default fancybox-button">Zoom</a>
                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view">View</a>
                        </div>
                    </div>
                    <h3><a href="" ng-click="get(x)">{{x.title}}</a></h3>
                    <div class="pi-price">{{x.price.net_discount | number}} kn</div>
                    <a href="" class="btn btn-default add2cart" ng-click="addToCart(x)">Dodaj u košaricu</a>
                    <div class="sticker sticker-sale"></div>
                </div>
            </div>
        </div>
    </div>
</div>
